
    <% include ../head %>

    <% include ../header %>

    <div class="col-md-9">
            <!-- Page Heading -->
        
<div>대분류 수정</div>

    </div>

    <% include ../footer %>
 
    <script>

    </script>
                 
  </body>

</html>
