<!DOCTYPE html>
<html lang="ko">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blog</title>


        <!-- Bootstrap Core CSS -->
        <link href="../css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="../css/shop-homepage.css" rel="stylesheet">
        <link href="../css/blog-post.css" rel="stylesheet">
        <link href="../css/1-col-portfolio.css" rel="stylesheet">

        <!-- jQuery -->
        <script src="../js/jquery.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="../js/bootstrap.min.js"></script>

    <!-- include summernote css/js-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.js"></script>   

    <style>
      .form-control:focus{
          border-color: #cccccc;
          -webkit-box-shadow: none;
          box-shadow: none;
      }

      .btn:focus {
        outline: none;
      }



        .table td ,.table th,input, .title{
        text-align: center;   
      }
      
      a { color: inherit; } 

    </style>

  </head>

  <body>