
    <% include ../head %>

    <% include ../header %>

    <div class="col-md-9">


    <!-- Container (Portfolio Section) -->
<div id="portfolio" class="container-fluid text-center bg-grey">
    <h2>2019년 목표</h2><br>
    <h4>나는 모든면에서 날마다 점점 더 나아진다.</h4><br>

    <div class="row text-center slideanim">
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="../money.jpg" alt="money" width="400px" height="300px">
          <p><strong>돈</strong></p>
          <p>월수입 300만원 벌기</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="../master.jpg" alt="master" width="400px" height="300px">
          <p><strong>정보처리기사</strong></p>
          <p>정보처리기사 자격증 취득하기</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="../bible.jpg" alt="bible" width="400px" height="300px">
          <p><strong>성경</strong></p>
          <p>성경 1독하기</p>
        </div>
      </div>
    </div><br>
</div>
<br>

<hr>

        
      <div class="container">

        <div class="row">
          <div class="col-md-9">
            <h3>2월</h3>
            <br>
            <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                나의 개인블로그 제작
                <span class="badge badge-primary badge-pill">진행중</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                 서버구축 및 호스팅 완료
                  <span class="badge badge-primary badge-pill">진행중</span>
              </li>
            </ul>
            <br>
        
            <p>-세부목표 <br>
              매일매일 node js 공부 + 개발하기
            </p>
        
            <br>
            <p>-피드백 <br>
              -
            </p>
          </div>
        </div>

<hr>
        <div class="row">
          <div class="col-md-9">
            <h3>1월</h3>
            <br>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  주보사랑 웹 제작
                  <span class="badge badge-primary badge-pill">완료</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    주보사랑 android, ios 배포
                  <span class="badge badge-primary badge-pill">완료</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    주보사랑 ubuntu16.04 서버구축
                  <span class="badge badge-primary badge-pill">완료</span>
                </li>
              </ul>
              <br>

            <p>-세부목표 <br>
              매일매일 node js 공부 + 개발하기
            </p>

            <br>
            <p>-피드백 <br>
              여차저차해서 node js 기반의 웹서비스를 잘 만든것 같다.
            </p>
          </div>
        </div>
<hr>




      </div>
    </div>


    <% include ../footer %>
 
    <script>
        $(document).ready(function () {
         
        });
</script>
                 
  </body>

</html>
