
    <% include ../head %>

    <% include ../header %>

    <div class="col-md-9">
        <div class="row"> 

                <div class="col-md-2"></div>


                <div class="col-md-8">
                        <h2 class="page-header">로그인</h2>
                        <form class="form-signin">
                                <div class="text-center mb-4">
                
                                 <div class="alert alert-light alert-dismissible fade show" role="alert"> 
                                     <span id = "alerttext"></span>
                                     <button type="button" class="close" data-dismiss="alert2" id="alertclose" aria-label="Close">
                                       <span aria-hidden="true">&times;</span>
                                     </button>
                                 </div>
                               </div> 
                         
                               <div class="text-right">
                                   <label>
                                       <a href="/login/idpwfind" style="font-size: 12.5px; color:black;">*비밀번호를 잊으셨나요?</a>
                                   </label>
                               </div>
                               <br>
                
                               <div class="form-label-group">
                                 <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                               </div>
                               <br>


                               <div class="form-label-group">
                                 <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                               </div>
                               <br>
                
                               
                               <input type="button" class="btn btn-lg btn-default btn-block" id="submitbtn" value="로그인">
                               <br><br>
                               <p class="mt-5 mb-3 text-muted text-center"><a href="/login/usersign">처음 방문하셨나요?</a></p>
                               <br><br>
                             </form>
                </div>



                <div class="col-md-2"></div>




        </div>
    </div>


    <% include ../footer %>
 
    <script>
        $(document).ready(function () {
         
        });
</script>
                 
  </body>

</html>
