
    <% include ../head %>

    <% include ../header %>

    <div class="col-md-9">
        <br>
        <br>
        <br>
            
                <div class="row"> 
                    <div class="col-md-2">
                            <select title=“대분류” class="form-control" id="bigtitle" onchange="bigtitleSelect()">
                                    <option>대분류</option>
                                    <%if (rows != undefined) { %>
                                        <% for (var i = 0; i < rows.length; i++) {  %>
                                            <option value="<%= rows[i]['bignum'] %>"><%=rows[i]['title']%></option>
                                        <% } %>
                                    <% } else { %>
                                        <option value="">강좌가 없습니다</option>
                                    <% } %>
                            </select>
                    </div><!-- /col-md-2 -->

                    <div class="col-md-2">
                            <select class="form-control" id="middletitle">
                                <option>중분류</option>
                            </select>
                    </div><!-- /col-md-2 -->

                    <div class="col-md-6">
                    <input type="text" id = "title" class="form-control" aria-label="제목" placeholder="제목">
                    </div>

                    <div class="col-md-2">
                            <label class="checkbox-inline"><input type="checkbox" value="">비공개</label>
                    </div><!-- /col-md-2 -->

                </div><!-- row -->
            
            
            <br>

            <div id="summernote"></div>

            <br>
            <br>
            <div class="row">
                <div class="text-center">
                    <button type="button" class="btn btn-success btn-md text-center" onclick="showContent();">작성</button>
                    
                </div>
            </div>
 
            <div class="output"></div>


            <script>
            $('#summernote').summernote({
                height: 400,                 // set editor height
                minHeight: null,             // set minimum height of editor
                maxHeight: null,             // set maximum height of editor
                focus: true                  // set focus to editable area after initializing summernote
            });
            </script>


    </div>


    <% include ../footer %>
 
    <script>



    function bigtitleSelect() {

        var bigtitleSelect = document.getElementById("bigtitle");
        var bigtitlevalue = bigtitleSelect.options[bigtitleSelect.selectedIndex].value;


        //대분류 클릭하면 해당 중분류 뿌려주기
        $.ajax({
            url: '/write/getMiddleTitle',
            dataType: 'json',
            type: 'post',
            data: {
                bignum: bigtitlevalue
            },
            success: function (data) {
                if (data['result'] == 'success') {

                    //1.대분류 선택할 때마다 엘리먼트 지워주기
                    var myNode = document.getElementById("middletitle");
                    while (myNode.firstChild) {
                        myNode.removeChild(myNode.firstChild);
                    }

                    //2.엘리먼트 동적 추가
                    var html = '<option>중분류</option>';
                    for (var i = 0; i < data['data'].length; i++) {
                        var middletitle = data['data'][i]['title'];
                        html += '<option value= ' + i + '>' + middletitle  + '</option>';
                    }

                    //3.붙이기
                    $("#middletitle").append(html);


                } else if (data['result'] == 'fail') {
                    alert(data['tocken']);
                    return;
                }
            },
            error: function (jqXHR, textStatus, err) {
                //show error message
                alert('죄송합니다. 작업중 오류가 발생했습니다.' + "상태 : " + textStatus + ', error : ' + err);
            }
        });
    }
    </script>
                 
  </body>

</html>
